
# Python Assignment

## Q1 — String slicing
Given:
```
name = ''' Hi How are you? 
Starterd learning python.
It's really interesting.'''
```
Show common slices and explain any errors.

In [ ]:
# Q1 solution: string slicing examples (no printed output)
name = ''' Hi How are you? 
Starterd learning python.
It's really interesting.'''

full = name[:]

slice_neg = name[-10:-5]

slice_pos = name[3:12]

empty_slice = name[12:3]



wrong_dir = name[-4:-12]


every_second = name[::2]

reverse_every_second = name[::-2]

## Q2 — List indexing and slicing
Given:
```
L1 = ['a' , 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']
```
Perform the requested operations: full slice, every 3rd element, reverse step, extract 'Happy', type check, and slice for 100,300,400.

In [ ]:
# Q2 solution: list slicing and indexing
L1 = ['a' , 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']


L_full = L1[:]


L_every3 = L1[::3]


L_rev2 = L1[::-2]


happy = L1[8]
happy_neg = L1[-2]


type_4th = type(L1[3])

nums_100_300_400 = L1[5:8]

## Q3 — Nested list indexing
Given:
```
L2 = [1,2,3,5,['a','b','work hard'],100,200,'Success']
```
Find specified slices and elements, and note typos like L7.

In [ ]:
# Q3 solution: nested list operations
L2 = [1,2,3,5,['a','b','work hard'],100,200,'Success']


nested = L2[4]


slice_1_5 = L2[1:5]


elem_7 = L2[7]

char_in_success = L2[7][2]

first_three = L2[:3]
from_three = L2[3:]

## Q4 — Change nested value
From L2 change 'b' to 'BEE'.

In [ ]:
# Q4 solution: modify nested list value
L2 = [1,2,3,5,['a','b','work hard'],100,200,'Success']
L2[4][1] = 'BEE'

## Q5 — Remove element 'BEE' from nested list
From the modified L2 remove 'BEE'.

In [ ]:
# Q5 solution: remove 'BEE' safely
L2 = [1,2,3,5,['a','BEE','work hard'],100,200,'Success']
if 'BEE' in L2[4]:
    L2[4].remove('BEE')

## Q6 — Append a dictionary to L2
Add `{'insect': ['bee','moth'], 'bird': ['parrot','sparrow']}` at the end of L2.

In [ ]:
# Q6 solution: append dictionary
L2 = [1,2,3,5,['a','b','work hard'],100,200,'Success']
L2.append({'insect': ['bee','moth'], 'bird': ['parrot','sparrow']})

## Q7 — Extract insect information
From L2 extract insect list.

In [ ]:
# Q7 solution: extract insect info
L2 = [1,2,3,5,['a','b','work hard'],100,200,'Success', {'insect': ['bee','moth'], 'bird': ['parrot','sparrow'] }]
insects = L2[-1]['insect']

## Q8 — Insert dictionary at 2nd position
Create `d1 = {'a':10, 'b':20, 'c':30}` and insert at index 1 in L2.

In [ ]:
# Q8 solution: insert dictionary d1
d1 = {'a':10, 'b':20, 'c':30}
L2 = [1,2,3]
L2.insert(1, d1)

## Q9 — Extract value 10 from dictionary inside L2
From the new L2 extract the value 10 stored in the inserted dictionary.

In [ ]:
# Q9 solution: access nested dictionary value
# assuming d1 was inserted as L2[1]
L2 = [1, {'a':10,'b':20,'c':30}, 3]
val_10 = L2[1]['a']

## Q10 — Complex nested structures
Given a larger L2 with tuples and nested lists, perform safe indexing and note errors.

In [ ]:
# Q10 solution: working with tuples and nested lists
L2 = [1,2,3,5,(90,40,50,10),'Python',400,['a','b','work hard'],100,200,'Success',(200,300,'Hundreds')]

tuple_elem = L2[4][2]    
string_full = L2[5][:]     
slice_1_5 = L2[1:5]
last_tuple = L2[-1]
nested_work = L2[7][2]

## Q11 — Marks classification (if-elif-else)
Write code that classifies marks: distinction (>80), first class (>60), second (>40), pass (>=35), fail otherwise.

In [ ]:
# Q11 solution: function that returns classification string
def classify_marks(marks):
    if marks > 80:
        return 'You got distinction'
    elif marks > 60:
        return 'You got First class'
    elif marks > 40:
        return 'You got second class'
    elif marks >= 35:
        return 'PASS'
    else:
        return 'FAIL'

## Q12 — Salary increment based on slab and rating
Implement logic for different salary slabs and rating-based increments.

In [ ]:
# Q12 solution: compute increment amount (salary in LPA)
def compute_increment(salary_lpa, rating):
    rating = rating.upper()
    if salary_lpa <= 5:
        rates = {'A':0.16, 'B':0.12, 'C':0.10, 'D':0.06}
    elif salary_lpa <= 10:
        rates = {'A':0.14, 'B':0.10, 'C':0.08, 'D':0.06}
    elif salary_lpa <= 15:
        rates = {'A':0.08, 'B':0.06, 'C':0.04, 'D':0.0}
    elif salary_lpa <= 23:
        rates = {'A':0.07, 'B':0.05, 'C':0.04, 'D':0.0}
    else:
        rates = {'A':0.05, 'B':0.03, 'C':0.02, 'D':0.0}
    rate = rates.get(rating, 0.0)
    increment = salary_lpa * rate
    return increment

## Q13 — Master's course fee calculator
Given courses and optional analytics + hostel + food + transport compute annual cost. Use 1 LPA = 100000 INR for conversions where needed.

In [ ]:
# Q13 solution: compute annual cost (fees in LPA)
BASE_FEE_LPA = 2.0
ANALYTICS_EXTRA = 0.10 * BASE_FEE_LPA  
HOSTEL_FEE_LPA = 2.0
FOOD_MONTHLY_INR = 2000
TRANSPORT_PER_SEM_INR = 13000

def compute_course_cost(subject, analytics=False, hostel=False, food_months=0, transport_option='none'):
    total = BASE_FEE_LPA
    if analytics and subject != 'DS':
        total += ANALYTICS_EXTRA
    if hostel:
        total += HOSTEL_FEE_LPA
    # convert food INR to LPA
    food_lpa = (FOOD_MONTHLY_INR * food_months) / 100000.0
    total += food_lpa
    if transport_option.lower() in ('semester','annual'):
        transport_inr = TRANSPORT_PER_SEM_INR * 2  
        total += transport_inr / 100000.0
    return total

## Q14 — Digitalize book allotment (structure)
Provide a skeleton to allocate books and calculate charges. Implement a simple function to allocate books using a catalog.

In [ ]:
# Q14 solution: simple book allotment skeleton
book_catalog = {'Math': 200, 'Science': 250, 'English': 150}

def allocate_books(student_id, name, book_list):
    fee = sum(book_catalog.get(b, 0) for b in book_list)
    record = {'name': name, 'books': book_list, 'fee': fee}
    return record

## Q15 — FD interest bucket
Ask start and end dates, compute duration and choose interest bucket. Provide a helper function.

In [ ]:
# Q15 solution: FD bucket function (example buckets)
from datetime import datetime

def fd_bucket(start_date_str, end_date_str):
    fmt = '%Y-%m-%d'
    s = datetime.strptime(start_date_str, fmt)
    e = datetime.strptime(end_date_str, fmt)
    days = (e - s).days
    years = days / 365.25
    if years < 1:
        rate = 0.05
    elif years < 3:
        rate = 0.065
    elif years < 5:
        rate = 0.07
    else:
        rate = 0.075
    return {'years': years, 'rate': rate}

## Q16 — Text processing
Given a long paragraph string, demonstrate tokenization and simple statistics (word count, sentence count).

In [ ]:
# Q16 solution: basic text analysis
string = "In most organized forms of writing, such as essays, paragraphs contain a topic sentence. This topic sentence of the paragraph tells the reader what the paragraph will be about."

words = string.split()
word_count = len(words)
sentences = [s.strip() for s in string.split('.') if s.strip()]
sentence_count = len(sentences)

## Q17 — Type casting for integer `a = 100`
Attempt common casts and note valid/invalid conversions.

In [ ]:
# Q17 solution: type casting examples for a = 100
a = 100
as_str = str(a)
as_list_from_str = list(as_str) 
as_tuple_from_str = tuple(as_str)
as_float = float(a)

## Q18 — Type casting for `city = 'Pune'`
Show list, tuple, set conversions and note int/float conversions raise errors.

In [ ]:
# Q18 solution: casting for city
city = 'Pune'
city_list = list(city)
city_tuple = tuple(city)
city_set = set(city)

## Q19 — Type casting for marks list
Given `marks = [20,18,15,17,18]`, convert to tuple, set and note invalid conversions.

In [ ]:
# Q19 solution: list conversions
marks = [20,18,15,17,18]
marks_tuple = tuple(marks)
marks_set = set(marks)

## Q20 — List building and operations
Create empty list `snames` and perform append/extend operations as requested.

In [ ]:
# Q20 solution: list operations
snames = []

snames.append(20)

snames.extend([30])

snames.append([40])

snames.extend(list('WORK'))

combo = [1, 'a', 'b', 2, 3]

combined = snames + combo

snames.append(combo)

snames.extend(combo)

## Q21 — Insert list inside another list at specific position
Given l1 with two elements and l3 with seven elements, insert l1 at 4th position in l3.

In [ ]:
# Q21 solution: insert list at 4th position
l1 = [10, 20]
l3 = [1,2,3,4,5,6,7]
l3.insert(3, l1)

## Q22 — Multiply numeric elements in a mixed collection by 5; remove 'Nisha' and find index of 20.50

In [ ]:
# Q22 solution: process mixed collection
collection = [1,2,3,['a','b','c'],100,'Nisha',20.50,90.10]
processed = []
for x in collection:
    if isinstance(x, (int, float)):
        processed.append(x*5)
    else:
        processed.append(x)

if 'Nisha' in processed:
    processed.remove('Nisha')

index_20_50 = None
val = 20.50 * 5
if val in processed:
    index_20_50 = processed.index(val)

## Q23 — Square list up to 10 and divisibility lists
Create comprehensions for squares up to 10, numbers divisible by 13 up to 200, and divisible by 4 from 300 to 400.

In [ ]:
# Q23 solution: comprehensions
squares = [i*i for i in range(1,11)]
div13 = [i for i in range(1,201) if i%13==0]
div4_300_400 = [i for i in range(300,401) if i%4==0]

## Q24 — Generate combinations for ranges x and y
Given x and y generate all combinations [[i,j]] where i in range(x) and j in range(y).

In [ ]:
# Q24 solution: generate combinations
x = 2
y = 2
comb = [[i,j] for i in range(x) for j in range(y)]

## Q25 — Sets: add vs update
Explain difference and show examples.

In [ ]:
# Q25 solution: add vs update on sets
s = set()
s.add(1)        
s.update([2,3])

## Q26 — Lists: append vs extend
Explain difference and show examples.

In [ ]:
# Q26 solution: append vs extend
lst = [1,2]
lst.append([3,4])   
lst = [1,2]
lst.extend([3,4])

## Q27 — pop vs remove
Explain difference and show examples.

In [ ]:
# Q27 solution: pop vs remove
lst = [10,20,30]
removed_by_pop = lst.pop()   
lst = [10,20,30]
lst.remove(20)

## Q28 — discard vs pop vs remove behavior
Explain that discard doesn't raise error, remove does, pop uses index.

In [ ]:
# Q28 solution: discard vs remove vs pop
s = {1,2,3}
s.discard(5)

## Q29 — Creating empty set
Show correct way to create empty set and note that {} creates empty dict.

In [ ]:
# Q29 solution: create empty set
empty_set = set()
empty_dict = {}

## Q30 — Set operations: union, intersection, difference
Create two sets and perform standard operations.

In [ ]:
# Q30 solution: set ops
s1 = {1,2,3}
s2 = {2,3,4}
union = s1 | s2
intersection = s1 & s2
difference = s1 - s2
sym_diff = s1 ^ s2

## Q31 — Password generation from name and DOB (dd-mm-yyyy)
Generate password as first 4 chars of name + '@' + ddmm (or yyyy as requested in variations).

In [ ]:
# Q31 solution: password examples
def password_ddmm(name, dob):
    # dob format 'DD-MM-YYYY'
    return name[:4].upper() + '@' + dob[:2] + dob[3:5]

def password_year(name, dob):
    return name[:4].upper() + '@' + dob[-4:]

## Q32 — Pattern printing (triangle increasing)
Create pattern:
```
*
* *
* * *
* * * *
```

In [ ]:
# Q32 solution: pattern printing (no printed output by default)
def pattern_increasing(n):

    return ['* ' * i for i in range(1, n+1)]

## Q33 — Pattern printing (triangle decreasing)
Create pattern:
```
****
***
**
*
```

In [ ]:
# Q33 solution: decreasing pattern
def pattern_decreasing(n):
    return ['*' * i for i in range(n, 0, -1)]

## Q34 — Alphabetic pattern 'ABCD' increasing rows
Create pattern:
```
A
A B
A B C
A B C D
```

In [ ]:
# Q34 solution: alphabetic pyramid
def alpha_pyramid(s):
    return [' '.join(list(s[:i])) for i in range(1, len(s)+1)]

## Q35 — Repeated character pattern
Create pattern where each row repeats same character increasing times (A, BB, CCC...)

In [ ]:
# Q35 solution: repeated character pattern
def repeated_char_pattern(chars):
    return [char * (i+1) for i, char in enumerate(chars)]

## Q36 — Numeric pattern (1, 22, 333...)
Generate numeric pattern where digit i repeats i times up to n.

In [ ]:
# Q36 solution: numeric repeat pattern
def numeric_repeat(n):
    return [str(i) * i for i in range(1, n+1)]

## Q37 — Reverse character build from string
Given a string, show progressive reverse building (no printing).
Example for 'UPGRAD' -> lines 'D', 'DA', 'DAR', ...

In [ ]:
# Q37 solution: reverse-building sequences
def reverse_build(s):
    return [s[-i:] for i in range(1, len(s)+1)]

## Q38 — Odd numbers 1 to 10 using loop and comprehension
Provide both methods.

In [ ]:
# Q38 solution: odd numbers
# using for-loop
odds_for = []
for num in range(1,11):
    if num % 2 == 1:
        odds_for.append(num)

odds_comp = [i for i in range(1,11) if i%2==1]

## Q39 — Even numbers 200 to 250 using for-loop

In [ ]:
# Q39 solution: even numbers 200 to 250
evens = []
for i in range(200, 251):
    if i % 2 == 0:
        evens.append(i)

## Q40 — Multiply elements of a mixed list by 2 and store in new list
Given a mixed list, multiply numeric elements by 2 and appropriately handle other types.

In [ ]:
# Q40 solution: multiply suitable elements by 2 and store in list3
List2 = [2, 70, 'work', 'para', 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3, 10, 302.5]

list3 = []
for x in List2:
    if isinstance(x, (int, float)):
        list3.append(x * 2)
    elif isinstance(x, str):
        list3.append(x * 2)
    elif isinstance(x, list):
        list3.append([elem * 2 for elem in x])
    elif isinstance(x, tuple):
        list3.append(tuple(elem * 2 for elem in x))
    elif isinstance(x, set):
        new_set = set()
        for item in x:
            new_set.add(item * 2 if isinstance(item, (int,float)) else item)
        list3.append(new_set)
    elif isinstance(x, dict):
        new_dict = {k: (v*2 if isinstance(v,(int,float)) else v) for k,v in x.items()}
        list3.append(new_dict)
    else:
        list3.append(x)